.feedback-container {
  background: #3b6978;
  border: 2px solid #e4e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 900px;
}

.title {
  font-size: 40px;
}

.calls {
  font-size: 25px;
}

.btn {
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid gainsboro;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 white;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  width: 270px;
}
.btn:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.btn:active {
  position: relative;
  top: 1px;
}

.show-number {
  background-color: #204051;
  padding: 4px;
}
