.box {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  width: 500px;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.inputs label {
  font-size: 20px;
  width: 400px;
}

.inputs input {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}

.btn {
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 #ffffff;
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  width: 270px;
}
.btn:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.btn:active {
  position: relative;
  top: 1px;
}
.btn:disabled {
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  color: #bbbbbb;
  cursor: auto;
}
