.btn-answer {
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect-answer {
  border: 3px solid red;
}

.order-buttons {
  display: flex;
  flex-direction: column;
}
