.btn-answer {
  background-color: #ededed;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  box-shadow: inset 0 1px 0 0 #ffffff;
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  width: 390px;
}

.btn-answer :hover {
  background-color: #dfdfdf;
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.btn-answer :active {
  position: relative;
  top: 1px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect-answer {
  border: 3px solid red;
}

.order-buttons {
  display: flex;
  flex-direction: column;
}
