.session-header {
  align-items: center;
  background-color: #204051;
  border-radius: 15px 15px 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.gravatar-icon {
  border: 3px solid #e4e3e3;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.player-info {
  align-items: center;
  display: flex;
}

.header-player-name {
  font-size: 1.5rem;
  margin-left: 20px;
}
